.button {
  border: none;
  color: #fff;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

.primary {
  background-color: #008cba;
} /* blue */
.secondary {
  background-color: #e7e7e7;
  color: black;
} /* gray */
.success {
  background-color: #4caf50;
} /* green */
.danger {
  background-color: #f44336;
} /* red */

.small {
  padding: 1rem;
  font-size: 0.875rem;
  line-height: 0;
}

.medium {
  height: 2rem;
  font-size: 1rem;
  line-height: 0;
}

.large {
  height: 3rem;
  font-size: 1.25rem;
  line-height: 0;
}
