.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

.icon {
  padding: 10px;
  background: dodgerblue;
  color: white;
  min-width: 50px;
  text-align: center;
}

.iconDelete {
  padding: 10px;
  background: #f44336;
  color: white;
  min-width: 50px;
  text-align: center;
  cursor: pointer;
}

.input-field {
  width: 40%;
  outline: none;
  border: 2px solid dodgerblue;
  border-right: 2px solid #f44336;
}

.input-field:focus {
  border: 2px solid dodgerblue;
}
